.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline;}
nav li a{color: rgb(0, 0, 0)}
input{border-radius: 12px;}
body{
    background-color: rgb(187, 229, 239);
    color: rgb(0, 0, 0);
}